<head>
    <link href="/public/css/signin.css" rel="stylesheet">
</head>
<div class="text-center">
    <h1>Wow - Mr. {{messages}}, you're sudo Admin!</h1>
    <p>Very impressive, to be sure.</p>
</div>