<head>
    <link href="/public/css/signin.css" rel="stylesheet">
</head>
<div class="text-center">
    <h1>Congratulations, {{messages}}!</h1>
    <p>You've reached the secret page because you email (username) and password were correct.</p>
</div>