<head>
    <link href="/public/css/signin.css" rel="stylesheet">
</head>
<div class="text-center">
    <h1>Congratulations, {{messages}}!</h1>
    <p>You've reached the secret page because you email (username) and password were correct.</p>
    <div class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" id="mySubmit">Log out</button>
    </div>
</div>
<!--redirect-->
<script type="text/javascript">
    document.getElementById("mySubmit").onclick = function () {
        location.href = "/logout";
    };
</script>